/* dein div wo alle bewertungen */
.div1 {
  position: fixed;
  width: 400px;
  height: 400px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  overflow: hidden;
}
/* für 3 Tags p mit dein text */
p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0;
  animation: Cycle 9s infinite;
}
/* hier jede von p  */
p:nth-child(1) {
  animation-delay: 0s;
  background-color: red;
}
p:nth-child(2) {
  animation-delay: 3s;
  background-color: green;
}
p:nth-child(3) {
  animation-delay: 6s;
  background-color: yellow;
}


@keyframes Cycle {
  0% { opacity: 0; }
  5% { opacity: 1; }
  30% { opacity: 1; }
  35% { opacity: 0; }
  100% { opacity: 0; }
}